#signUp {
	margin-top: 10px;
	padding: 0 20px 15px 20px;
	border: 1px solid #bbb;
}
#signUp legend {
	font-size: 2em;
	font-weight: 200;
	padding: 0 .2em;
}
#signUp label {
	display: block;
	padding-top: 1em;
}
#signUp label:first-of-type {
	margin-top: -.9em;
}
#nameLabel {
	margin-top: -1em;
}
#submit, #clearCookie {
	display: block;
	font-size: 1em;
	color: #FFF;
	text-transform: uppercase;
	background: #a2a50d;
	padding: .8em 1em .7em;
	border: 0;
	border-bottom: 3px solid #7d820c;
	margin-top: 15px;
}
.textfield {
	font-family: "Courier New", Courier, monospace;
	font-size: 14px;
	padding: 7px;
	background: #efefef;
	border: 1px solid #bbb;
	width: 97%;
}
.textfield:focus {
	background: #FBF8D2;
}